::-ms-tooltip {
    display: none;
}

slider {
    display:     block;
    position:    relative;
    height:      30px;
    width:       500px;
  }

  slider span.bar {
    height:     50%;
    z-index:    0;
    background: #eee;
    left:       0;
    top:        25%;
    cursor:     pointer;
  }

  slider span.bar.selection, slider span.bar.unselected {
  }

  slider span.bar.selection {
    background: #0a0;
    opacity:    0.5;
  }

  slider span.bar.unselected {
    width:      auto;
    background: #a00;
    opacity:    0.5;
  }

  slider span.pointer {
    cursor:           pointer;
    width:            15px;
    top:              0;
    bottom:           0;
    background-color: #00a;
  }

  slider span.pointer:hover {
  }

  slider span.pointer.active {
  }

  slider span.bubble {
    font-size:   0.7em;
    line-height: 1.4em;
    font-family: sans-serif;
    text-align:  center;
    text-shadow: none;
    top:         -1.3em;
    cursor:      pointer;
  }

  slider span.bubble.selection, slider span.bubble.limit {
    top: 25%;
  }

  slider span.bubble.selection {
  }

  slider span.bubble.limit {
  }

  slider span.bubble.low, slider span.bubble.high {
  }

  ::-ms-tooltip {
    display: none;
  }

  #slider-container {
    -webkit-touch-callout: none;
    -webkit-user-select:   none;
    -khtml-user-select:    none;
    -moz-user-select:      -moz-none;
    -ms-user-select:       none;
    user-select:           none;
  }
  


.panel-default > .panel-heading {
  background-color: #FFF;
}

.jumbotron {
  padding: 0px;
}

.well {
  background-color: #FFF;
  border: none;
}

.jumbotron {
  background-color: #FFF;
}

body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .sidebar-nav {
        padding: 9px 0;
    }
    @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
            float: none;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

.animate-show {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
  background:white;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display:block!important;
}

.animate-show.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}



.hero-unit {
    padding: 0px;
    padding-top:  10px;
    background-color: #FFFFFF;
}

.chart-title {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;

}

.chart-simple-interface {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;

}

svg {
    max-width: 100%;
    height: 100%;

}

.axislabel {
  font: 20px sans-serif;

}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width:2px;
}

.dot {
  stroke-width: 1;
}
