<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gatherplot</title>
    <meta name="description" content="nomarect">
    <link rel="stylesheet" type="text/css" href="./assets/app.css">
</head>

<body data-ng-app="myApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="glyphicon glyphicon-bar"></span>
                        <span class="glyphicon glyphicon-bar"></span>
                        <span class="glyphicon glyphicon-bar"></span>
                    </button><a class="navbar-brand" href="#">Gatherplot</a>
                </div>

                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a>
                        </li>
                        <li><a href="#about">About</a>
                        </li>
                        <li><a href="#about">Help</a>
                        </li>
                        <li><a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </div>
    </div>
    <div class="container" ng-controller="DemoCtrl">
        <div class="row">
            <div class="col-md-8">
                <div>
                    <h5>
                        <div ng-class="{tryMe: isPlotSelectFocused}" focus-me="isPlotSelectFocused" popover="Try me!" popover-trigger="focus" popover-placement="right">
                            <div class="btn-group">

                                <button type="button" class="btn btn-default active" ng-model="nomaConfig.isGather" btn-radio="'scatter'">Scatter</button>

                                <button type="button" class="btn btn-default" ng-model="nomaConfig.isGather" btn-radio="'jitter'">Jitter</button>

                                <button type="button" class="btn btn-default" ng-model="nomaConfig.isGather" btn-radio="'gather'">Gather</button>

                            </div>
                        </div>
                        <alert class="chart-instruction" ng-show="isPlotSelectFocused" close="isPlotSelectFocused=false">
                            Try these buttons.</alert>

                    </h5>

                    <h4 class="chart-title">{{activeData}}</h4>
                    <div>
                        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                    </div>
                    <div nomarect="nomarect" class="nomarect" data="nomaData" config="nomaConfig" border="nomaBorder" round="nomaRound" shaperenderingmode="nomaShapeRendering"></div>
                    <div class="chart-simple-interface">
                        <h5>Show me

                            <select ng-model="nomaConfig.xDim" ng-options="f for f in nomaConfig.dims">

                                <option value="">-- undefined --</option>

                            </select>&nbsp;vs&nbsp;.

                            <select ng-model="nomaConfig.yDim" ng-options="f for f in nomaConfig.dims">

                                <option value="">-- undefined --</option>

                            </select>

                            </br>
                            </br>
                            Mark nodes with color according to

                            <select ng-model="nomaConfig.colorDim" ng-options="f for f in nomaConfig.dims">

                                <option value="">-- undefined --</option>

                            </select>
                        </h5>

                        <h6>

                            <input type='checkbox' ng-model="nomaConfig.relativeMode" ng-trueValue="relative" ng-false-value='absolute'>Check this to make it easy to compare groups of different sizes.</h6>

                    </div>
                </div>
                <accordion close-others="false">
                    <accordion-group is-open="isAdvancedOptionOpen" ng-hide='false'>


                        <accordion-heading> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isAdvancedOptionOpen, 'glyphicon-chevron-right': !isAdvancedOptionOpen}"></i>
                            Under the Hood (Advanced Option)</accordion-heading>
                        <div class="well">
                            <div class="row ">

                                <div class="col-md-4">
                                    Data Binning Size: {{nomaConfig.binSize}}
                                    <input type="range" ng-model="nomaConfig.binSize" min="1" max="50" step="1" style="width: 140px">
                                </div>
                                <div class="col-md-4">
                                    <p>
                                        <label label-default="label-default" class="checkbox-inline">
                                            <input type="checkbox" ng-model="nomaBorder">Border line</label>
                                    </p>

                                </div>
                                <div class="col-md-4">
                                    <p>
                                        <label label-default="label-default" class="checkbox-inline">
                                            <input type="checkbox" ng-model="nomaRound">Round Edge</label>
                                        {{nomaRound}}
                                    </p>
                                </div>

                                <div class="col-md-4">Input Width/Height:
                                    <input type="number" name="inputWidth" ng-model="nomaConfig.SVGAspectRatio" min="0.4" max="3" class="form-control">
                                    <span class="error" ng-show="DemoCtrl.inputWidth.$error.number">

                                        Not valid number!</span>
                                </div>


                            </div>
                            <div class="row ">


                                <div class="col-md-4">
                                    <h3>X-axis:

                                    </h3>
                                    <p>
                                    </p>
                                    <div class="btn-toolbar">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default" ng-model="nomaConfig.XAlign" btn-radio="'left'"><i class="glyphicon glyphicon-align-left"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" ng-model="nomaConfig.XAlign" btn-radio="'center'"><i class="glyphicon glyphicon-align-center"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" ng-model="nomaConfig.XAlign" btn-radio="'right'"><i class="glyphicon glyphicon-align-right"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" ng-model="nomaConfig.XAlign" btn-radio="'justify'"><i class="glyphicon glyphicon-align-justify"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <p></p>

                                </div>
                                <!--/span-->
                                <div class="col-md-4">
                                    <h3>Y-axis:

                                    </h3>
                                    <p>
                                    </p>
                                    <div class="btn-toolbar">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default" ng-model="nomaConfig.YAlign" btn-radio="'top'"><i class="glyphicon glyphicon-align-left"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" ng-model="nomaConfig.YAlign" btn-radio="'middle'"><i class="glyphicon glyphicon-align-center"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" ng-model="nomaConfig.YAlign" btn-radio="'bottom'"><i class="glyphicon glyphicon-align-right"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" ng-model="nomaConfig.YAlign" btn-radio="'justify'"><i class="glyphicon glyphicon-align-justify"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <p></p>

                                </div>
                                <!--/span-->
                                <div class="col-md-4">
                                    <h3>Color:


                                    </h3>
                                    <p>
                                    </p>
                                    <div class="btn-toolbar">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default" ng-model="nomaConfig.fillingDirection" btn-radio="'vertical'"><i class="glyphicon glyphicon-resize-vertical"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" ng-model="nomaConfig.fillingDirection" btn-radio="'horizontal'"><i class="glyphicon glyphicon-resize-horizontal"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" ng-model="nomaConfig.fillingDirection" btn-radio="both"><i class="glyphicon glyphicon-resize-full"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <p></p>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                        </div>
                    </accordion-group>
                </accordion>
            </div>
            <!--/span-->
            <div class="col-md-4">
                <div class="sidebar-nav">
                    <h3>Guided Tours</h3>
                    <accordion close-others="false">

                        <accordion-group is-open="isCarsOpen">
                            <accordion-heading> <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isCarsOpen, 'glyphicon-chevron-right': !isCarsOpen}"></i>
                                Cars Dataset <a href="" class="pull-right btn btn-xs btn-default" ng-click="changeActiveDataCars()">Load</a>
                            </accordion-heading>
                            <div class="well">
                                <p>This example introduces gatherplots.</p>
                                <p>First, start with scatterplots. <a href="" class="pull-right btn btn-link btn-default chart-instruction" ng-click="changeConfigCarsScatterplots()">Visualize</a>
                                </p>
                                <p>Scatterplots produces overplotting with Cylinders. <a href="" class="pull-right btn btn-link btn-default" ng-click="changeConfigCarsScatterOneNominal()">Visualize</a>
                                </p>
                                <p>Jittering can be help determine a size of each group. <a href="" class="pull-right btn btn-link btn-default" ng-click="changeConfigCarsJitterOneNominal()">Visualize</a>
                                </p>
                                <p>However when there are multiple subgroups, it is hard to judge the distribution. <a href="" class="pull-right btn btn-link btn-default" ng-click="changeConfigCarsJitterOneNominalWithColor()">Visualize</a>
                                </p>
                                <p>Gatherplot makes overview of the distribution easier. <a href="" class="pull-right btn btn-link btn-default" ng-click="changeConfigCarsGatherOneNominalWithColor()">Visualize</a>
                                </p>
                                <p>It can be used with two nominal variables, too. <a href="" class="pull-right btn btn-link btn-default" ng-click="changeConfigCarsGatherTwoNominalWithColor()">Visualize</a>
                                </p>
                                <p>Stacking nodes works with continuous variables as color dimension. <a href="" class="pull-right btn btn-link btn-default" ng-click="changeConfigCarsGatherTwoNominalWithContinuousColor()">Visualize</a>
                                </p>
                            </div>
                        </accordion-group>


                        <accordion-group is-open="isTitanicOpen">
                            <accordion-heading> <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isTitanicOpen, 'glyphicon-chevron-right': !isTitanicOpen}"></i>
                                Survivor of Titanic <a class="pull-right btn btn-xs btn-default" href="" ng-click="changeActiveDataTitanic()">Load</a>
                            </accordion-heading>
                            <div class="well">
                                Let's explore the dataset about the survivors of the Titanic.
                                <ul>
                                    <li>First begin with all the survivors. <a href="" class="pull-right btn btn-link btn-default" ng-click="settingForTitanicLoadAll()">Visualize</a>
                                    </li>
                                </ul>
                            </div>
                        </accordion-group>

                        <accordion-group is-open="isMammoOpen">
                            <accordion-heading> <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isMammoOpen, 'glyphicon-chevron-right': !isMammoOpen}"></i>
                                Bayesian Inference Mammogram <a href="" class="pull-right btn btn-xs btn-default" ng-click="changeActiveDataMammo()">Load</a>
                            </accordion-heading>
                            <p>The probability that a woman has breast cancer is 1%. The probability that the disease is detected by a mammography is 80%. The probability that the test detects the disease although the patient does not have it is 9.6%.
                                <a href="" class="pull-right btn btn-link btn-default" ng-click="changeConfigMammoProblem()">Visualize</a>
                            </p>
                            <p>If a woman is tested as positive, what is the probability that she indeed has breast cancer? <a href="" class="pull-right btn btn-link btn-default" ng-click="changeConfigMammoAnswer()">Visualize</a>
                            </p>
                        </accordion-group>
                        <accordion-group is-open="isContinuousOpen">
                            <accordion-heading> <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isContinuousOpen, 'glyphicon-chevron-right': !isContinousOpen}"></i>
                                Continuous Variables <a href="" class="pull-right btn btn-xs btn-default" ng-click="changeActiveDataContinuous()">Load</a>
                            </accordion-heading>
                            <p>This example shows how to handle continuous variables.</p>
                            <p>Binning continuous variables <a href="" class="pull-right btn btn-link btn-default" ng-click="changeConfigContinuousBinning()">Visualize</a>
                            </p>
                            <p>Normalization Applied to Binning continuous variables <a href="" class="pull-right btn btn-link btn-default" ng-click="changeConfigContinuousBinningNor()">Visualize</a>
                            </p>
                        </accordion-group>

                    </accordion>
                </div>
                <!--/.well -->
            </div>
            <!--/span-->
        </div>
        <!--/row-->
        <hr>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'gatherplot'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
         (function() {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

        <!-- <footer>
            <p>© <a href="http://www.intuinno.com" > Intuinno</a> at PivotLab in Purdue University 2013</p>
        </footer> -->
    </div>
    <script src="./assets/app.js"></script>
    <script src="./scripts/directives/d3Basic.js"></script>
    <script src="//localhost:7777/livereload.js"></script>

</body>

</html>