<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NomaRect</title>
    <meta name="description" content="nomarect">
    <script src="scripts/library/angular.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/services/d3.js"></script>
    <script src="scripts/controllers/demoCtrl.js"></script>
    <script src="scripts/controllers/AccordionDemoCtrl.js"></script>
    <script src="scripts/directives/d3Basic.js"></script>
    <script type="text/javascript" src="scripts/services/ui-bootstrap-tpls-0.7.0.js"></script>
    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style type="text/css">
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .sidebar-nav {
        padding: 9px 0;
    }
    @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
            float: none;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    </style>
    <link rel="stylesheet" href="/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/css/nomarect.css">
</head>

<body ng-app="myApp">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">NomaRect</a>
                <div class="nav-collapse collapse">
                    <p class="navbar-text pull-right">
                        Logged in as <a href="#" class="navbar-link">Username</a>
                    </p>
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a>
                        </li>
                        <li><a href="#about">About</a>
                        </li>
                        <li><a href="#about">Help</a>
                        </li>
                        <li><a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container-fluid" ng-controller="DemoCtrl">
        <div class="row-fluid">

            <div class="span9">
                <div class="hero-unit">
                    <h4 class="chart-title">{{activeData}}</h4>
                    <div nomarect class="nomarect" margin='0' on-click="onClick(item)" data="nomaData" config="nomaConfig" inputDataLabel = "activeData"></div>

                </div>

                <div class="row-fluid">
                    <div class="span4">
                        <h3>X-axis:
                            <select ng-model="nomaConfig.xDim" ng-options="f for f in nomaConfig.dims">
                                <option value="">-- undefined --</option>
                            </select>
                        </h3>
                        <p>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <a class="btn" href="#"><i class="icon-align-left"></i></a>
                                    <a class="btn" href="#"><i class="icon-align-center"></i></a>
                                    <a class="btn" href="#"><i class="icon-align-right"></i></a>
                                    <a class="btn" href="#"><i class="icon-align-justify"></i></a>
                                </div>
                            </div>
                        </p>
                        <p>
                            <label class="checkbox inline">
                                <input type="checkbox" ng-model="nomaConfig.isXUniformSpacing">Uniform Spacing
                            </label>
                        </p>

                    </div>
                    <!--/span-->
                    <div class="span4">
                        <h3>Y-axis:
                            <select ng-model="nomaConfig.yDim" ng-options="f for f in nomaConfig.dims">
                                <option value="">-- undefined --</option>
                            </select>
                        </h3>

                        <p>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <a class="btn" href="#"><i class="icon-align-left"></i></a>
                                    <a class="btn" href="#"><i class="icon-align-center"></i></a>
                                    <a class="btn" href="#"><i class="icon-align-right"></i></a>
                                    <a class="btn" href="#"><i class="icon-align-justify"></i></a>
                                </div>
                            </div>
                        </p>
                        <p>
                            <label class="checkbox inline">
                                <input type="checkbox" ng-model="nomaConfig.isYUniformSpacing">Uniform Spacing
                            </label>
                        </p>

                    </div>
                    <!--/span-->
                    <div class="span4">
                        <h3>Color:
                            <select ng-model="nomaConfig.colorDim" ng-options="f for f in nomaConfig.dims">
                                <option value="">-- undefined --</option>
                            </select>
                        </h3>

                        <p>



                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <a class="btn" href="#"><i class="icon-resize-vertical"></i></a>
                                    <a class="btn" href="#"><i class="icon-resize-horizontal"></i></a>
                                    <a class="btn" href="#"><i class="icon-resize-full"></i></a>
                                </div>
                            </div>

                        </p>

                        <p>
                            <label class="checkbox inline">
                                <input type="checkbox" ng-model="nomaConfig.boarder">Border line
                            </label>
                        </p>
                        <p>
                            <label class="radio inline">
                                Optimize :</label>
                            <label class="radio inline">

                                <input type="radio" ng-model="nomaConfig.optimize" value="aspectRatio">Aspect Ratio
                            </label>
                            <label class="radio inline">
                                <input type="radio" ng-model="nomaConfig.optimize" value="margin">Margin
                            </label>
                        </p>

                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
            </div>
            <!--/span-->
            <div class="span3">
                <div class="well sidebar-nav">


                    <h3>Examples</h3>
                    <accordion close-others="false">
                        <accordion-group is-open="isTitanicOpen">
                            <accordion-heading>
                                <i class="pull-left" ng-class="{'icon-chevron-down': isTitanicOpen, 'icon-chevron-right': !isTitanicOpen}"></i>
                                Survivor of Titanic
                                <a class="pull-right btn btn-mini" href="" ng-click="changeActiveDataTitanic()">Load</a>
                            </accordion-heading>
                            This dataset shows the survivors of the Titanic.
                        </accordion-group>

                        <accordion-group is-open="isMammoOpen">
                            <accordion-heading>
                                <i class="pull-left" ng-class="{'icon-chevron-down': isMammoOpen, 'icon-chevron-right': !isMammoOpen}"></i>
                                Bayesian Inference Mammogram

                                <a href="" class="pull-right btn btn-mini" ng-click="changeActiveDataMammo()">Load</a>
                            </accordion-heading>
                            The probability that a woman at age 40 has breast cancer is 1%. According to the literature, the probability that the disease is detected by a mammography is 80%. The probability that the test detects the disease although the patient does not have it is 9.6%. If a woman at age 40 is tested as positive, what is the prob- ability that she indeed has breast cancer?
                        </accordion-group>

                        <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                            {{group.content}}
                        </accordion-group>
                        <accordion-group heading="Dynamic Body Content">
                            <p>The body of the accordion group grows to fit the contents</p>
                            <button class="btn btn-small" ng-click="addItem()">Add Item</button>
                            <div ng-repeat="item in items">{{item}}</div>
                        </accordion-group>
                        <accordion-group is-open="isopen">
                            <accordion-heading>
                                I can have markup, too! <i class="pull-right" ng-class="{'icon-chevron-down': isopen, 'icon-chevron-right': !isopen}"></i>
                            </accordion-heading>
                            This is just some content to illustrate fancy headings.
                        </accordion-group>
                    </accordion>

                </div>
                <!--/.well -->
            </div>
            <!--/span-->



        </div>
        <!--/row-->

        <hr>

        <footer>
            <p>&copy; Company 2013</p>
        </footer>

    </div>






</body>

</html>